extends layout

block layout-content
  div.Header
   div.Headertext
      h1 Weather Forecast
      form#formInput
      input.form-control#query(
        type="search" 
        placeholder="Search City …" 
        required
      )
      button#btn Submit
     
      
  div.Background 
    div.Contenttext
      div.Weatherinfo
      div.Error-message#msg
        h4.CityNames#city
        p#demo
        h4.Description#desc
        h4.Temperatur#temp
        h4.Wind#wind
        div.Weather-icon#weather-icon
          img(
            src="icons/unknown.png"
            alt="weather-icon"
          )

  block footer        
  footer
      p © #{new Date().getFullYear()} Current WeatherApp
